*{
    font-family: arial
}
#content{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#contentSalas{
  width: 100%;
}
#contentSalas > form{
    display: flex;
    align-items: center;
    justify-content: space-around;
   
}

.sala{
    width: 30%;/*
    height: 100px;*/
    padding: 20px 0;
    border: none;
    border-radius: 5px;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,.6); 
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-size: 22px;
    font-family: arial;
    background: none
}
.sala:hover{
    box-shadow: 0 4px 8px 0 rgba(0,0,0,.6) 
}
.sala p{
    padding: 10px 0;
}

.icon{
    width: ;
}