*{
    font-family: arial
}
html{
    height: 95%;
    /*padding: 5%*/
}
body{
    height:100%;
}
#container{
    display: flex;
    border: 0px solid gainsboro;
    border-radius: 5px;
    width: 100%;
    height: 100%;
    /*margin: 5%;*/
    justify-content: center;
    align-items: center;
    flex-direction: column
}
#content{
    display: flex;
    flex-direction: column;
            justify-content: center;
    align-items: center;
}
#temperature{
    border: 1px solid #dad7d7;
    box-shadow: 5px 8px 20px 0px rgba(0,0,0,0.3);
    padding: 15%;
    border-radius: 15px;
    width: 100%;
}
#tiempo{
    margin-top: 5%;
    font-size: 200%;
}
#tempIcon{
    position: absolute;
width: 90px;
background: #05ff7a;
top: 115px;
border-radius: 5px;
box-shadow: 3px 4px 13px 0px #c1c1c1;
padding: 15px;
height: 130px;
left: calc(-55px + 50%);
text-align: center;
transform: translate(0%, 0%);
}
h1{
    font-size: 300%;
    margin: 0px;
    text-align: center;
}
h2{
    font-size: 300%;
    text-align: center;
}
h3{
    font-size: 300%;
    font-weight: bold;
    text-align: center;
}